.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #222;
}

.logo h2 {
    color: white;
    margin: 0;
}

.nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.logout-btn {
    padding: 8px 14px;
    cursor: pointer;
}